  <form class="form-container">
    <mat-card>
      <!-- <mat-card-header>
        <mat-card-title>Your New Product Information</mat-card-title>
      </mat-card-header> -->
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>category</mat-label>
              <mat-select (selectionChange)="getAttributesByCategory($event.value)">
                <mat-option matInput *ngFor="let category of categories" [value]="category">
                  {{category}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <mat-label>title</mat-label>
              <input matInput name="title" [(ngModel)]="product.title" placeholder="Enter title"/>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width">
              <mat-label>description</mat-label>
              <textarea matInput name="title" [(ngModel)]="product.description" placeholder="Enter description"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngFor="let attribute of attributes">
          <div class="col-md-6"  *ngIf="attribute.type === 'list'">
            <mat-form-field>
              <mat-label>{{attribute.name}}</mat-label>
              <mat-select>
                <mat-option matInput *ngFor="let val of attribute.valueList" [value]="val">
                  {{val}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-label>{{attribute.name}}</mat-label>
            <mat-form-field class="full-width" *ngIf="attribute.type === 'string'">
              <input matInput name=attribute.name [(ngModel)]="attribute.value"/>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions >
        <button mat-raised-button="" color="primary"  (click)="saveProduct()">Save</button>
      </mat-card-actions>
    </mat-card>
  </form>